---
http_interactions:
- request:
    method: post
    uri: https://a.klaviyo.com/api/profiles
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","attributes":{"first_name":"john","last_name":"doe","email":"john@doe.com"}}}'
    headers:
      Authorization:
      - Klaviyo-API-Key pk_ef4cee4d92f530b239414025ba29dd54ee
      Content-Type:
      - application/json
      Revision:
      - '2022-10-26'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Cid:
      - Yx2KLP
      Ratelimit-Limit:
      - 700, 75;w=1, 700;w=60
      Ratelimit-Remaining:
      - '698'
      Ratelimit-Reset:
      - '2'
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01GH88522MT6HK0135XQAPC134","attributes":{"email":"john@doe.com","phone_number":null,"external_id":null,"anonymous_id":null,"first_name":"john","last_name":"doe","organization":null,"title":null,"image":null,"created":"2022-11-07T05:14:02.718701+00:00","updated":"2022-11-07T05:14:02.718726+00:00","last_event_date":null,"location":{"address1":null,"address2":null,"city":null,"country":null,"latitude":null,"longitude":null,"region":null,"zip":null,"timezone":null},"properties":{"Created":"2022-11-07T05:14:02.708530+00:00"}},"links":{"self":"https://a.klaviyo.com/api/profiles/01GH88522MT6HK0135XQAPC134/"},"relationships":{"lists":{"links":{"self":"https://a.klaviyo.com/api/profiles/01GH88522MT6HK0135XQAPC134/relationships/lists/","related":"https://a.klaviyo.com/api/profiles/01GH88522MT6HK0135XQAPC134/lists/"}},"segments":{"links":{"self":"https://a.klaviyo.com/api/profiles/01GH88522MT6HK0135XQAPC134/relationships/segments/","related":"https://a.klaviyo.com/api/profiles/01GH88522MT6HK0135XQAPC134/segments/"}}}}}'
  recorded_at: Mon, 07 Nov 2022 05:14:03 GMT
- request:
    method: post
    uri: https://a.klaviyo.com/api/lists/YrVvhv/relationships/profiles/
    body:
      encoding: UTF-8
      string: '{"data":{"type":"profile","id":"01GH88522MT6HK0135XQAPC134"}}'
    headers:
      Authorization:
      - Klaviyo-API-Key pk_ef4cee4d92f530b239414025ba29dd54ee
      Content-Type:
      - application/json
      Revision:
      - '2022-10-26'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Allow:
      - GET, POST, PATCH, DELETE, HEAD, OPTIONS
      Cid:
      - Yx2KLP
      Ratelimit-Limit:
      - 150, 10;w=1, 150;w=60
      Ratelimit-Remaining:
      - '149'
      Ratelimit-Reset:
      - '21'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 07 Nov 2022 05:14:03 GMT
recorded_with: VCR 6.1.0
